@font-face {
    font-family: "Hanken" ;
    font-style: normal;
    src: url(../font/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Hanken" ;
    font-style: italic;
    src: url(../font/HankenGrotesk-Italic-VariableFont_wght.ttf);
}

html {
    font-family: "Hanken" ;
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.footer {
    font-size: 0.9em ;
}

.smalltext {
    font-size: 0.9em;
}

h1, h2, h3, h4 {
    font-weight: 800;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.4em;
}

.o-nas__main__article__text__name {
    font-weight: bold;
    font-size: 1.2em;
}

.o-nas__main__article__text__italic {
    font-style: italic;
    font-size: 0.9em;
}

.footer__footer {
    font-size: 0.75em;
}

.button a {
    font-weight: bold;
}

.section__questions__mail {
    font-size: 1.8em;
}

.section__questions__header {
    font-size: 2em;
}

@media (min-width: 1150px) {
    html {
        font-size: 18px;
    }
}