:root {
    --orange: #F5841F;
    --navy: #16213C;
    --lightblue: #8ECAE6;
    --lightgray: #F5F5F5;
    --gray: #D9D9D9;
    --blue: #2D4275;
    --black: #000000;
    --white: #FFFFFF;
    --lightblue-background: rgba(142, 202, 230, 0.12);
    --gray-background: rgba(217, 217, 217, 0.3)
}

.hamburger {
    --rotate-time: .15s;
    --move-time: .1s;
}

.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    display: block;
}
  
.hamburger span {
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--orange);
    border-radius: 4.5px;
    left: 0;
}

.hamburger span:nth-child(1) { top: 0px; transition: 0.3s; }

.hamburger span:nth-child(2) { top: 18px; transition: 0.3s; }
  
.hamburger span:nth-child(3) { bottom: 0px; transition: 0.3s; }

.hamburger__box {
    position: relative;
}

.hamburger-nav {
    /*position: absolute;
    transform: scaleX(0);
    transition: 0.3s;
    transform-origin: center;*/
    display: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    right: -2000px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform-origin: center;
}

@media screen and (max-width: 1150px) { 
    .header__aside {
        display: none;
    }

    .header__box {
        position: relative;
    }

    .hamburger__box {
        position: absolute;
        width: 100vw;
        margin-left: -1.5em;
        margin-top: -1.5em;
    }

    .hamburger__row {
        position: relative;
    }

    .hamburger {
        position: absolute;
        right: 1em;
        z-index: 2;
        margin: 1em;
    }

    .hamburger-nav li {
        text-align: center;
        list-style: none;
    }
    
    .hamburger.active span:first-child {
        transform: rotate(45deg) translate(13px, 13px);
        transition: 0.3s;
        background-color: var(--navy);
    }

    .hamburger.active span:last-child {
        transform: rotate(-45deg) translate(13px, -13px);
        transition: 0.3s;
        background-color: var(--navy);
    }

    .hamburger.active span:nth-child(2) {
        transform: translate(100px);
        transition: 0.3s;
        transition-delay: 0.15s;
        visibility: hidden;
        background-color: var(--navy);
    }

    .hamburger-nav.active {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
        transform-origin: center;
        background-color: var(--lightgray);
    }

    .hamburger-nav ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    .hamburger-nav ul li a {
        color: var(--navy);
    }

    .hamburger-nav ul li {
        border-bottom: solid 2px var(--orange);
        margin: 0.5em 0;
        font-size: 1.25em;
    }

    .hamburger-nav ul li.li--kontakt {
        margin-bottom: 0;
    }
}

@media  (min-width: 1150px) {
    .hamburger__box {
        display: none;
    }
}

